.card{
	width: 100%;
	min-height: 25px;
	color: #000!important;
    background-color: #ddffff!important;
    border-color: #2196F3!important;
    border-style: dashed;
    border-width: 1px;
}

.card h5{
	text-align: center;
}

.card:hover{
	cursor: pointer;
}